<header>
    <div class="sample-header">
        <div class="menu">
            <ul>
                <li>
                    <a href="{% url 'main' %}">На главную</a>
                </li>
                <li>
                    <a href="{% url 'popular' 1 %}">Популярные</a>
                </li>
                <li>
                    <a href="{% url 'now' 1 %}">Смотрят сейчас</a>
                </li>
                <li>
                    <a href="{% url 'top' 1 %}">Топ рейтинга</a>
                </li>
            </ul>
        </div>
        <div class="sample-header-section">
            <h1>Смотри фильмы и сериалы бесплатно!</h1>
            <h2></h2>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="search">
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</header>