<header>
    <div class="sample-header">
        <div class="menu">
            <ul>
                <li>
                    <a href="{% url 'index' %}">Популярные</a>
                </li>
                <li>
                    <a href="{% url 'now' %}">Смотрят сейчас</a>
                </li>
                <li>
                    <a href="{% url 'top' %}">Топ рейтинга</a>
                </li>
            </ul>
        </div>
        <div class="sample-header-section">
            <h1>Смотри фильмы и сериалы бесплатно!</h1>
            <h2></h2>
        </div>
    </div>
</header>