<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<header>
    {% extends "catalog/layout.html" %}
</header>
{% block content %}

    <body>
    <h1>Популярные</h1>
    {% for movie in movies %}
        <a href="{% url 'movie' movie.id %}">{{ movie.title }}</a> <br>
        {{ movie.overview }} <br>
        {{ movie.vote_average }} <br>
        {{ movie.release_date }} <br>
        <hr>
    {% endfor %}
<div id="app" class="container">
<ul class="page">
    {% for page in pages %}
    <li class="page__numbers"><a href="{% url 'popular' page %}">{{ page }}</a></li>
    {% endfor %}
  </ul>
</div>

    </body>
{% endblock %}
</html>