{% extends "catalog/layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Movies</title>
</head>
{% block pagecontent %}
    <body>
    <h1>Топ рейтинга</h1>
    {% for movie in movies %}
        <a href="{% url 'movie' movie.id movie.title movie.release_date %}">{{ movie.title }}</a> <br>
        {{ movie.overview }} <br>
        {{ movie.vote_average }} <br>
        {{ movie.release_date }} <br>
        <hr>
    {% endfor %}
    <div id="app" class="container">
        <ul class="page">
            {% for page in pages %}
                <li class="page__numbers"><a href="{% url 'top' page %}">{{ page }}</a></li>
            {% endfor %}
        </ul>
    </div>
    </body>
{% endblock %}